severity = 3
verbose  = 9
theme    = core || moose
exclude  = Subroutines::ProhibitUnusedPrivateSubroutines ValuesAndExpressions::ProhibitVersionStrings TestingAndDebugging::RequireUseStrict TestingAndDebugging::RequireUseWarnings
include  = Variables::ProhibitPackageVars
